[app]
SECRET_KEY: {{ secret_key }}
ENVIRONMENT: {{ environment }}
DEPLOYMENT: {{ environment }}
ROOT_URL: {{ root_url }}
CI_URL: {{ ci_url }}
ADMIN_FRONT_ROOT_URL: {{ admin_front_root_url }}
FRONT_ROOT_URL: {{ front_root_url }}
LOGIN_ROOT_URL: {{ login_root_url }}
NAVIGATE_URL: {{ navigate_url }}

[libs]
FCM_SERVER_KEY: {{ fcm_server_key }}
HASHHID_SALT: {{ hashid_salt }}
PLIVO_ID: {{ plivo_id }}
PLIVO_TOKEN: {{ plivo_token }}
TOTP_TOKEN: {{ totp_token }}
SENTRY_DSN: {{ sentry_dsn }}
AWS_ACCESS_KEY_ID: {{ aws_access_key_id }}
AWS_SECRET_ACCESS_KEY: {{ aws_secret_access_key }}
AWS_STORAGE_BUCKET_NAME: {{ aws_storage_bucket_name }}
GOOGLE_OAUTH2_CLIENT_ID: {{ google_oauth2_client_id }}
GOOGLE_OAUTH2_CLIENT_SECRET: {{ google_oauth2_client_secret }}
TRACE_OAUTH2_CLIENT_ID: {{ trace_oauth2_client_id }}
TRACE_OAUTH2_CLIENT_SECRET: {{ trace_oauth2_client_secret }}
CONNECT_OAUTH2_CLIENT_ID: {{ connect_oauth2_client_id }}
CONNECT_OAUTH2_CLIENT_SECRET: {{ connect_oauth2_client_secret }}

[database]
DB_NAME: {{ db_name }}
DB_USER: {{ db_user }}
DB_PASSWORD: {{ db_password }}
DB_HOST: {{ db_host }}
NEO4J_USERNAME: {{ neo4j_username }}
NEO4J_PASSWORD: {{ neo4j_password }}
REDIS_URL: {{ redis_url }}
REDIS_PORT: {{ redis_port }}

[email]
EMAIL_HOST: {{ email_host }}
EMAIL_PORT: {{ email_port }}
EMAIL_HOST_USER: {{ email_host_user }}
EMAIL_HOST_PASSWORD: {{ email_host_password }}

[blockchain]
BLOCKCHAIN_ENCRYPTION_KEY: {{ blockchain_encryption_key }}
BLOCKCHAIN_CLIENT_ID: {{ blockchain_client_id }}
BURN_ACCOUNT_ID: {{ burn_account_id }}
TREASURY_ACCOUNT_ID: {{ treasury_account_id }}
TREASURY_ENCRYPED_PRIVATE: {{ treasury_encrypted_private }}

[otp]
LOGIN_TOTP_SECRET: {{ login_totp_secret }}
CI_TOTP_SECRET: {{ ci_totp_secret }}
DP_PASS_TOTP_SECRET: {{ dp_pass_totp_secret }}

[connect]
USER_NAME: {{ connect_username }}
PASSWORD: {{ connect_password }}
DEVICE_ID: {{ connect_device_id }}

[sync]
SYNC_USER_ID: {{ sync_user_id }}
SYNC_NODE_ID: {{ sync_node_id }}
SYNC_USER_DEFAULT_PASSWORD: {{ sync_user_default_password }}
CONNECT_SYNC_COMPANY_ID: {{ connect_sync_company_id }}
NAVIGATE_OAUTH2_CLIENT_ID: {{ navigate_oauth2_client_id }}
NAVIGATE_OAUTH2_CLIENT_SECRET: {{ navigate_oauth2_client_secret }}

[guardian]
GUARDIAN_URL: {{ guardian_url }}
GUARDIAN_SD_USER_NAME: {{ guardian_sd_user_name }}
GUARDIAN_SD_USER_PASS: {{ guardian_sd_user_pass }}
GUARDIAN_METH_OWNER_NAME: {{ guardian_meth_owner_name }}
